
.App-page {
  text-transform: uppercase;
  position: relative;
}

.App-body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}


.App-footer {
  position: absolute;
  top: 94vh;
}

